<section class="cause cbp-so-section">
  <figure class="cbp-so-side cbp-so-side-left d-flex align-items-center justify-content-between">
    <div>
      <a href="https://www.guidestar.org/profile/83-3215671" target="_blank">
        <img src="https://widgets.guidestar.org/gximage2?o=9776403&l=v4" />
      </a>
    </div>
    <div>
      <a href="https://www.nfggive.com/guidestar/83-3215671" target="_blank">
        <img src="https://www.nfggive.com/assets/img/logo.png" alt="Network for Good" />
      </a>
    </div>
    <div id="amznCharityBanner"></div>
  </figure>
  <article class="cbp-so-side cbp-so-side-right">
    <h2>Other ways to support</h2>
    <p>
      If being an Ambassador isn't feasible and you have not received a coin yet, there are still other ways to support
      the Kindness to Action cause. Please visit one of the supporting charitable services on the left to learn more about
      how you can contribute.
    </p>
  </article>
</section>
