@import "~assets/styles/colors";

$panelOffset: 100px;
$panelMaxWidth: 500px;

// map stuffs
#map {
  height: 100%;
  width: 100%;
}

.ambassador-and-coin-section {
  height: 800px;
  padding: 0;

  .slide-panels {
    &--open {
      transform: translateX(-($panelMaxWidth + ($panelOffset / 2)));
      transition: transform 0.5s ease-in-out;

    }
    &--close {
      transform: translateX(0%);
      transition: transform 0.5s ease-in-out;

    }
  }

  &__register {
    max-width: $panelMaxWidth;
    margin-left: $panelOffset;
    z-index: 100;
    position: absolute;

    .ambassador-and-coin {
      position: relative;

      form {
        padding: 0;

        .mat-card {
          flex-grow: 1;

          .mat-card-subtitle {
            text-align: center;
            margin: 15px 0 25px;
          }

          .mat-card-content {
            ::ng-deep .mat-form-field-flex {
              &:hover {
                .mat-form-field-outline {
                  color: $kindnessGray;
                }
              }
            }
          }
        }
      }

      ::ng-deep .mat-tab-header {
        border-bottom: 0;
      }

      ::ng-deep .mat-tab-label-container {
        background-color: $kindnessGreen;

        .mat-tab-labels {
          .mat-tab-label {
            flex-grow: 1;
            color: white;
            font-size: 1rem;
            font-weight: 700;

            &-active {
              opacity: 1;
            }
          }
        }

        .mat-ink-bar {
          background-color: black;
        }
      }
    }

    .hide-panel {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
    }
  }

  &__search {

  }

  .optional-divider {
    > * {
      flex-grow: 1;
    }

    > label {
      flex-shrink: 1;
      flex-grow: 0;
      padding: 0 10px;
    }

    > div {
      border-top: 1px solid #ccc;
      margin-top: 8px;
    }
  }
}
