<section class="ambassador-and-coin-section cbp-so-section">
  <div [ngClass]="isOpen ? 'slide-panels--open' : 'slide-panels--close'" class="ambassador-and-coin-section__register cbp-so-side-left container">
    <mat-tab-group class="ambassador-and-coin">
      <mat-tab label="Add Coin" class="ambassador-and-coin__coin">
        <form name="ambassadorAndCoinForm" #f="ngForm" (ngSubmit)="f.form.valid && registerAmbassadorOrCoin()"
              class="container d-flex">
          <mat-card class="d-flex flex-column">
            <mat-card-subtitle>Register a coin to track acts of Kindness.</mat-card-subtitle>
            <mat-card-content class="d-flex flex-column">
              <div class="d-flex flex-row">
                <mat-form-field appearance="outline">
                  <mat-label>Coin ID</mat-label>
                  <input matInput placeholder="Usually XXX-XXXX-XXX">
                </mat-form-field>
              </div>
              <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Short title for kindness action">
              </mat-form-field>
              <div class="d-flex align-center optional-divider">
                <div></div>
                <label>Optional</label>
                <div></div>
              </div>
              <mat-form-field appearance="outline">
                <mat-label>Giver</mat-label>
                <input matInput placeholder="Person or group giving the coin">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Receiver</mat-label>
                <input matInput placeholder="Person or group performing the act of kindness">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Receiver Email</mat-label>
                <input matInput placeholder="Fill if you wish to receive updates for this coin">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="What was the act of kindness?"></textarea>
              </mat-form-field>
              <button mat-raised-button color="primary">
                <span>Upload Image</span>
              </button>
            </mat-card-content>
            <mat-card-actions>
              <button *ngIf="!waiting"
                      mat-raised-button
                      type="submit" color="primary">
                <span>Submit</span>
              </button>
            </mat-card-actions>
          </mat-card>
        </form>
      </mat-tab>
      <mat-tab label="Become an Ambassador?" class="ambassador-and-coin__ambassador">
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && registerAmbassadorOrCoin()"
              class="container d-flex">
          <mat-card class="d-flex flex-column">
            <mat-card-subtitle>Share your kindness story or project idea. Request to become a Kindness Ambassador and distribute Kindness Coins.</mat-card-subtitle>
            <mat-card-content class="d-flex flex-column">
              <div class="d-flex flex-row justify-content-between">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput />
                </mat-form-field>
              </div>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="">
              </mat-form-field>
              <div class="d-flex align-center optional-divider">
                <div></div>
                <label>Optional</label>
                <div></div>
              </div>
              <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Tell us what you're thinking</mat-label>
                <textarea matInput placeholder=""></textarea>
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
              <button *ngIf="!waiting"
                      mat-raised-button
                      type="submit" color="primary">
                <span>Confirm</span>
              </button>
              <button *ngIf="waiting"
                      mat-raised-button disabled
                      type="submit" color="primary">
                <span>
                  <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </span>
              </button>
            </mat-card-actions>
          </mat-card>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div [ngClass]="isOpen ? 'slide-panels--close' : 'slide-panels--open'" class="ambassador-and-coin-section__search cbp-so-side cbp-so-side-right d-flex align-items-center justify-content-center">
    <div class="ambassador-and-coin">
      <form [formGroup]="searchForm" (ngSubmit)="f.form.valid && searchCoinOrTitle()">
        <mat-card class="d-flex flex-column">
          <mat-card-subtitle>Search By Coin Id or Title</mat-card-subtitle>
          <mat-card-content class="d-flex flex-row">
            <div class="d-flex flex-row justify-content-between">
              <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput formControlName="searchInput" />
<!--                <mat-error *ngIf="searchInput.invalid">{{getErrorMessage()}}</mat-error>-->
              </mat-form-field>
            </div>
            <mat-card-actions>
              <button mat-raised-button type="submit" color="primary">
                <span>Find</span>
<!--                TODO: add logic for getting user back all chimes-->
<!--                <span *ngIf="searchForm.get('searchInput').value">Find</span>-->
              </button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
  <div class="ambassador-and-coin-section__toggle" (click)="hidePanels()">
    <h3>
      <span>Show</span>
      <fa-icon *ngIf="isOpen" [icon]="['fas', 'globe-americas']" size="sm"></fa-icon>
      <fa-icon *ngIf="!isOpen" [icon]="['fas', 'search']" size="sm"></fa-icon>
    </h3>
  </div>
  <div id="map"></div>
</section>
