<div class="kindnessToAction">
  <app-navigation *ngIf="authService.isLoggedIn()"></app-navigation>

  <!-- Custom It According to your Requirements -->
  <nav *ngIf="!authService.isLoggedIn()" class="kindnessToAction__nav navbar">
    <a [href]="orgPath" class="navbar-brand">
      <img [src]="logoPath" alt="Kindness To Action" />
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li *ngIf="false" class="nav-item active">
      <a class="nav-link" [routerLink]="['/login']">Login <span class="sr-only">(current)</span></a>
    </li>
    </ul>
  </nav>

  <div class="kindnessToAction__route">
      <router-outlet></router-outlet>
  </div>
</div>
