<section class="cause cbp-so-section d-flex">
  <article class="cbp-so-side cbp-so-side-left">
    <h2>Our story</h2>
    <p>
      Elijah died tragically at 14. In his stead, we ask his generation and us, their parents, to turn kindness into
      action. Elijah cared deeply for fairness, equality, justice, and fun. With an engineer's mindset, he wanted to
      solve the world's problems. Permanently. He once said that he didn't want to hug a tree or save a whale, he wanted
      to make it so no one ever has to hug a tree or save a whale again. It all starts with kindness.
    </p>
  </article>
  <figure class="cbp-so-side cbp-so-side-right">
    <img src="images/1.png" alt="img01">
  </figure>
</section>
