.pictures {
  display: flex;
  background-color: #000;

  .img-ticker {
    animation: ticker-kf 15s linear infinite;
    height: 600px;

    .image {
      height: inherit;
      position: relative;
      text-align: center;

      img {
        height: inherit;
      }

      h3 {
        position: absolute;
        bottom: 2.5rem;
        color: white;
        width: 100%;
      }
    }
  }
}

@keyframes ticker-kf {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-50rem, 0, 0);
  }
}
