@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "assets/styles/colors";

@font-face {
  font-family: BlackJack;
  src: url(./assets/font/blackjack/blackjack.otf);
}

@font-face {
  font-family: SecondaryFont;
  src: url(./assets/font/quicksand/Quicksand-Regular.otf);
}

html, body {
  margin: 0;
  padding:0;
  line-height: normal;
  font-family: SecondaryFont, 'Helvetica Neue', Arial, sans-serif;
}

div {
  box-sizing: border-box;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
}

h3, h4, h5, p {
  margin: 0 0 16px;
}

blockquote,
h1, h2 {
  font-family: BlackJack, 'Helvetica Neue', sans-serif;
}

section {
  padding: 0 7%;
  align-items: center;
  display: flex;
  flex-direction: row;

  h2 {
    font-size: 3rem;
    color: $kindnessGreen;
  }

  p {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 25px;
    opacity: 0.65;
    letter-spacing: -0.1rem;
  }
}
