.gm-style {
  div[title='Current Location'] {
    pointer-events: none !important; // necessary to allow overlay of svg items across google Markers
  }

  a[title*='Google Maps'] {
    display: none !important;
  }

  .gm-style-iw + div {
    display: none;
  }

  .gm-style-cc {
    display: none;
  }

  /* marker popup window */
  .popup-content {
    font-size: 14px;
    line-height: 22px;
    max-width: 515px;

    h3 {
      font-size: 24px;
      padding-top: 7px;
      margin-bottom: 0.75rem;

      small.coin-number {
        font-size: 14px;
        color: #a0a2a5;
      }
    }

    .description {
      font-weight: 400;
      opacity: 0.8;
      text-indent: 1rem;
    }

    .image {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        max-height: 300px;
        padding: 10px 0;
      }
    }
  }
}
