.ambassador {
  background: center / cover no-repeat url(../../../assets/images/google-map-example.png);
  height: 600px;
  padding: 0;

  form {
    margin-left: 100px;
  }

  .mat-card-title {
    text-align: left;
    margin: 15px 0 25px;
  }
}
